# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Certs
ca-key.pem
ca.csr
ca.pem
server-key.pem
server.csr
server.pem
client-key.pem
client.csr
client.pem
nobody-client-key.pem
nobody-client.csr
nobody-client.pem
root-client-key.pem
root-client.csr
root-client.pem